<h1>This is the main page</h1>
<a href="./managePlayers">Manage Players</a>
<br/>
<a href="./manageCharacters">Manage Characters</a>
<br/>
<a href="./manageRaces">Manage Races</a>
<br/>
<a href="./manageClasses">Manage Classes</a>
<br/>
<a href="./manageSpecials">Manage Special Attributes</a>