<h1>Manage Players</h1>
<div class="page_desc">
    <p>This page allows you to</p>
    <ul>
        <li>Add players</li>
        <li>Update player names</li>
        <li>Delete players</li>
        <li>Assign players to a DM</li>
    </ul>
</div>

<a href="/">Home</a>