<h1>Manage Special Attributes</h1>
<div class="page_desc">
    <p>This page allows you to</p>
    <ul>
        <li>Add a special attribute</li>
        <li>Edit a special attribue</li>
    </ul>
</div>

<a href="/">Home</a>