<h1>Manage Characters</h1>
<div class="page_desc">
    <p>This page allows you to</p>
    <ul>
        <li>Add a character</li>
        <li>Update character attributes</li>
        <li>Delete a character</li>
        <li>Add a class to a character</li>
        <li>Update character class levels</li>
        <li>Assign a character's primary class</li>
    </ul>
</div>

<a href="/">Home</a>