<h1>Manage Races</h1>
<div class="page_desc">
    <p>This page allows you to</p>
    <ul>
        <li>Add a race</li>
        <li>Edit race attributes</li>
        <li>Assign race special attributes</li>
    </ul>
</div>

<a href="/">Home</a>