<h1>Manage Classes</h1>
<div class="page_desc">
    <p>This page allows you to</p>
    <ul>
        <li>Add a class</li>
        <li>Update class attributes</li>
    </ul>
</div>

<a href="/">Home</a>