<h1>Update Class: {{class_name}}</h1>
<div>
  <form id="updateClass">
    <fieldset>
      <legend><h3>Enter new information for {{class_name}}</h3></legend>
        <!-- This is for demo purposes. Production will populate lists from
        database -->
        <label for="class_name">Class Name:
          <input type="text" class="inputField" name="class_name" id="class_name" size="30" maxlength="20" value="{{class_name}}">
        </label>
        <br/>

        <label for="hd_select">Hit Die:</label>
        <select id="hd_select" name="hd_select">
            <option value="">--Select a hit die size--</option>
            <option value="6">d6</option>
            <option value="8">d8</option>
            <option value="10">d10</option>
            <option value="12">d12</option>
        </select>
        <br/>

        <label for="armor_select">Armor:</label>
        <select id="armor_select" name="armor_select">
            <option value="">--Select an armor type--</option>
            <option value="0">None</option>
            <option value="Light">Light</option>
            <option value="Medium">Medium</option>
            <option value="Heavy">Heavy</option>
          </select>
        <br/>

        <label for="saving_throw_1_select">Saving Throw #1:</label>
        <select id="saving_throw_1_select" name="saving_throw_1_select">
            <option value="">--Select an attribute--</option>
            <option value="Strength">Strength</option>
            <option value="Dexterity">Dexterity</option>
            <option value="Constitution">Constitution</option>
            <option value="Intelligence">Intelligence</option>
            <option value="Wisdom">Wisdom</option>
            <option value="Charisma">Charisma</option>
          </select>
        <br/>

        <label for="saving_throw_2_select">Saving Throw #2:</label>
        <select id="saving_throw_2_select" name="saving_throw_2_select">
            <option value="">--Select an attribute--</option>
            <option value="Strength">Strength</option>
            <option value="Dexterity">Dexterity</option>
            <option value="Constitution">Constitution</option>
            <option value="Intelligence">Intelligence</option>
            <option value="Wisdom">Wisdom</option>
            <option value="Charisma">Charisma</option>
          </select>
        <br/>

        <button onclick="updateRow('Classes', {{class_id}}, '#updateClass')">Update</button>
    </fieldset>
  </form>
</div>